html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}
body{ 
  background: url('alien.png') center center no-repeat;
  background-size: cover;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  color:whitesmoke;
  align-items: center;
  min-height: 100vh;
}

.character-counter-div{
  flex-direction: column;
  background: #03563010;
  border: 1px;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: .75 rem;
  box-shadow: 
  0 0 20px rgba(0, 255, 255, 0.7),
    0 0 45px rgba(180, 0, 255, 0.5),
    0 0 80px rgba(0, 255, 120, 0.4);
    backdrop-filter: blur;
}
 p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #cfe9ff;
 }

 .usertexts{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 200px;
  min-height: 100px;
  overflow-y: auto;
 }

 h1, h2, p{
  display: flex;
  justify-content: center;
 }

 #textbox{
  display: flex;
  justify-content: center;
  align-items: center;
 }